.git
.gitignore
.github

.vscode
.idea
*.swp
*.swo
*.iml

.DS_Store
Thumbs.db

bin/
dist/
build/
*.exe
*.test
unifit
__debug_bin

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.override.yml

tmp/
temp/
*.log
coverage.out
coverage.html
